@mixin transition {
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -ms-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.news-item {
  .news-title{
    margin: 0.5rem auto;
    font-weight: 400;
    a {
      text-decoration: none;
      color: white;
    }
    .news-url{
      font-weight: lighter;
      font-size: 0.7rem;
    }
    &:hover{
      font-weight: bolder;
      @include transition;
    }
  }
  .news-info{
    margin: 0.2rem auto;
    font-size: 0.7rem;
    font-weight: 300;
  }
}